PORT=your_port_no
NODE_ENV=
API_HOST=add_you_localServer_port
SENDER_EMAIL_ADDRESS=add_your_professiona_email_address
MONGODB_URI=your_mongodb_uri
CORS_ORIGIN=your_website_doman_name

# ============================
# CLOUDINARY (IMAGE UPLOAD)
# ============================
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# ============================
# BREVO SMTP (EMAIL)
# ============================
BREVO_SMTP_HOST=smtp-relay.brevo.com
BREVO_SMTP_PORT=587
BREVO_SMTP_USER=your_brevo_account_email@example.com
BREVO_SMTP_PASS=your_brevo_smtp_key

# Sender identity (must match a verified sender/domain in Brevo)
EMAIL_FROM_NAME=your_app_name #like facebook.com and some other
EMAIL_FROM_ADDRESS=noreply@yourdomain.com



# =================================
# SECRET OF ACCESS AND REFRESH TOKEN
#=====================================

JWT_ACCESS_SECRET=generate_strong_secret
JWT_REFRESH_SECRET=generate_strong_secret