PORT=your_port_no
NODE_ENV=
API_HOST=add_you_localServer_port
SENDER_EMAIL_ADDRESS=add_your_professiona_email_address
MONGODB_URI=your_mongodb_uri
CORS_ORIGIN=your_website_doman_name
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret